.container {
    width: 150px;
    height: 150px;
    background: #bf3434;
    border: 2px solid #999;
    color:#fff;	
    font-size: 25px;
    text-align: center;
    line-height: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
}